<nav class="navbar navbar-expand-lg navbar-dark bg-dark ps-2">
  <a class="navbar-brand" href="#">
    <img src="assets/iti-logo.png" alt="logo" style="width: 35px; height: auto"/>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a routerLinkActive="Active" routerLink="/Home" class="nav-item nav-link">Home</a>
      <a routerLinkActive="Active" routerLink="/Products" class="nav-item nav-link">Products</a>
      <a routerLinkActive="Active" routerLink="/Order" class="nav-item nav-link">Order</a>
      <a routerLinkActive="Active" [hidden]="isUserLogged" routerLink="/login-user" class="nav-item nav-link">Login</a>
      <a routerLinkActive="Active" [hidden]="!isUserLogged" routerLink="/logout-user" class="nav-item nav-link">Logout</a>
      <!-- <a class="nav-item nav-link disabled" href="#">Disabled</a> -->
    </div>
  </div>
</nav>
