{{prd | json}}

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{prd?.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{prd?.quantity}}</h6>
    <h6 class="card-subtitle mb-2 text-muted">{{prd?.quantity}}</h6>
    <h6 class="card-subtitle mb-2 text-muted"><img [src]="prd?.imgURL" /></h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <!-- <input class="btn btn-outline-dark" value="Back" (click)="goBack()" /> -->

    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-primary" (click)="goPrevious()">Previous</button>
      <button type="button" class="btn btn-success">Current</button>
      <button type="button" class="btn btn-dark" (click)="goNext()">Next</button>
    </div>

  </div>
</div>
